 @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"); 
 html {
   color: #222;
   font-size: 2vw;
   line-height: 1.4;
 }
 
 body {
   margin: 10vw 20vw;
   font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
 }
 
 h1 {
   text-align: center;
   color: rgb(54, 83, 179);
   margin: 0 0 5vw;
 }
 
 div.costArea {
   text-align: center;
   padding-bottom: 7vw;
 }
 
 label {
   padding-right: 2vw;
 }
 
 div#pageLogo {
   height: 50vw;
   width: 50vw;
   background: url(/imagenes/cuaderno.png) no-repeat;
   background-size: contain;
   position: relative;
   left: 50%;
   margin-left: -25vw;
 }
 
 #installButtonDiv {
   position: absolute;
   top: 8vh;
   right: 2vw;
 }
 
 button#installButton {
   background-color: sandybrown;
   color: black;
   padding: 1.3vw 1.6vw;
   font-size: 1.5vw;
   cursor: pointer;
   border-radius: 5px;
   display:none;
 }
 
 button#installButton:hover {
   background-color: #f87a03;
 }
 input {
   border: 1pt solid #ccc;
 }
 
 ::-moz-selection {
   background: #b3d4fc;
   text-shadow: none;
 }
 
 ::selection {
   background: #b3d4fc;
   text-shadow: none;
 }
 
 hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
 } 
 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
   vertical-align: middle;
 }
 
 fieldset {
   border: 0;
   margin: 0;
   padding: 0;
 }
 

 textarea {
   resize: vertical;
 }
 
 .browserupgrade {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
 }
 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   max-width: 300px;
 }
 
 .hidden {
   display: none !important;
 }
 
 .visuallyhidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
   white-space: nowrap; /* 1 */
 }
 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   width: auto;
   white-space: inherit;
 }
 
 
 .invisible {
   visibility: hidden;
 }
 .clearfix:before,
 .clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
 }
 
 .clearfix:after {
   clear: both;
 }
 
 @media only screen and (min-width: 35em) {
 }
 
 @media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
 }
 
 @media screen and (max-width: 500px) {
   html {
     font-size: 4.5vw;
   }
   button#installButton {
     font-size: 4.5vw;
   }
 }
 
 @media screen and (min-width: 501px) {
   div#pageLogo {
     height: 25vw;
     width: 25vw;
     background: url(/imagenes/cuaderno.png) no-repeat;
     background-size: contain;
     position: relative;
     left: 50%;
     margin-left: -12.5vw;
   }
   body {
     margin: 5vw 10vw;
   }
   #installButtonDiv {
     position: absolute;
     top: 2vh;
     right: 3vw;
   }
   button#installButton {
     padding: 1.6vw 2vw;
     font-size: 2vw;
   }
 }
 @media screen and (orientation: landscape)  and (min-width: 820px) {
   body {
     font-size: 2vh;
   } 
   
   h1 {
     margin: 0 0 5vh;
   }
   div#pageLogo {
     height: 25vh;
     width: 25vh;
     margin-left: -12.5vh;
   }
   div.costArea {
     padding-bottom: 7vh;
   }
   button#installButton {
     
     padding: 1.6vh 2vh;
     font-size: 2vh;
   }
 }
 
 @media print {
   *,
   *:before,
   *:after {
     background: transparent !important;
     color: #000 !important; /* Black prints faster */
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     text-shadow: none !important;
   }
 
   a,
   a:visited {
     text-decoration: underline;
   }
 
   a[href]:after {
     content: " (" attr(href) ")";
   }
 
   abbr[title]:after {
     content: " (" attr(title) ")";
   }
 
 
   a[href^="#"]:after,
   a[href^="javascript:"]:after {
     content: "";
   }
 
   pre {
     white-space: pre-wrap !important;
   }
 
   pre,
   blockquote {
     border: 1px solid #999;
     page-break-inside: avoid;
   }
 
 
   thead {
     display: table-header-group;
   }
 
   tr,
   img {
     page-break-inside: avoid;
   }
 
   p,
   h2,
   h3 {
     orphans: 3;
     widows: 3;
   }
 
   h2,
   h3 {
     page-break-after: avoid;
   }
 }
 
.botonMedio{
  text-align: left;
  display: -webkit-box;
  cursor: pointer; 
  text-decoration:none;
  padding: 2vw 30vw;
  font-weight: 200;
  font-size: 15px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0; 
}
.titulos{
  text-align: center;
  font-style: normal;
  font-size:px ; 
  color: #1883ba;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}


.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}